@keyframes siteOpenA {
    from{
        height: 0vw;
    }
    to{
        height: 30vw;
    }
}

@keyframes siteCloseA {
    from{
        height: 30vw;
    }
    to{
        height: 0vw;
    }
}
// ============
// menu
@keyframes menuOpen {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes menuClose {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}