main{
    .baner{
        background-image: url(../images/logo.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 13%;
        width: 100%;
        .text{
            width: 40%;
            margin-left: auto;
            p{
                font-size: $fs-1;
            }
            h1{
                font-size: 3vw;
                margin: 2% 0;
            }
            button{
                border: none;
                background-color: rgb(0, 119, 255);
                outline: none;
                font-size: $fs-1;
                width: 60%;
                padding: 2% 0;
                color: white;
                transition: 0.7s;
                &:hover{
                transition: 0.3s;
                    background-color: rgb(3, 86, 182);
                    box-shadow: 3px 3px 10px black;
                }
            }
        }
    }
}