header {
  background-color: black;
  padding: 0.2% 0;
  nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 20%;
        display: flex;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        li {
          list-style: none;
          //   width: 100%;
          padding: 6% 0%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: relative;
          &:nth-child(n + 2):nth-child(-n + 4) {
            width: 80%;
          }
          &:first-child {
            padding: 6% 2%;
          }

          a {
            color: white;
            text-decoration: none;
            font-size: $fs-sm;
          }
          i {
            color: white;
            font-size: $fs-sm;
           
          }
          &:hover{
              &::after{
                content: "";
                width: 90%;
                height: 3px;
                background-color: skyblue;
              position: absolute;
              top: 100%;
              }
          }
        }
      }
    }
    //   ============= right =============
    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 38%;
      ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 35%;
          margin-right: 3%;
          li{
              list-style: none;
              display: flex;
            white-space: nowrap;
              a{
                  text-decoration: none;
                  color: white;
                font-size: $fs-sm;
              }
              i{
                  font-size: $fs-sm;
                  &:hover{
                    // filter: drop-shadow(0px 0px 20px white);
                    box-shadow: 0px 0px 20px white;
                  }
              }
          }
      }
      button{
          background-color: gray;
          font-size: calc($fs-sm - 0.15vw);
          color: white;
          border: none;
          outline: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 32%;
           padding:2% 2% ;
           transition: 0.7s;
           white-space: nowrap;
           &:nth-child(3){
             width: 20%;
             background-color: rgb(0, 132, 255);
           }
         &:hover{
          transition: 0.7s;
           background-color: darkgray;
         }
      }
      .fa-bars-staggered{
        display: none;
      }
    }
  }
}
// ======================= Media query =================
@media only screen and (max-width:$mq) {
  header{
    padding: 3%;
    nav{
      width: 100%;
      .left{
        .logo{
          width: 40%;
        }
        ul{
          display: none;
        }
      }
      .right{
        width: 65%;
        ul{
          display: none;
        }
        button{
          font-size: calc($mo-p - 0.5vw);
          width: 50%;
          &:nth-child(3){
            width: 30%;
          }
        }
        .fa-bars-staggered{
          display: block;
          color: white;
          font-size: 6vw;
        }
      }
    }
  }
}