.main-with-menuMobile{
    .main-website{
        main{
            .nachrichten{
                background-color: rgb(238, 238, 238);
                padding: 1%;
                .nachrichten-con{
                    width: 60%;
                    margin: 0 auto;
                    .top{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 0.1vw solid rgb(206, 206, 206);
                        margin-bottom: 2%;
                        h1 {
                            font-size: $fs-h1;
                            margin: 2% 0;
                          }
                          .nachrichten-link{
                              color: blue;
                              font-size: $fs-1;
                          }
                    }
                    // ============= carts ===========
                    .carts{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        span{
                            width: 30%;
                            position: relative;
                            a{
                                display: flex;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    transition: 0.7s;
                                    &:hover{
                                        transition: 0.7s;
                                        filter: brightness(1.2);
                                    }
                                }
                            }
                            .text{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                padding: 2%;
                                line-height: 1.5;
                                background-color: rgba(0, 0, 0, 0.712);
                                p{
                                    color: white;
                                    font-size: $fs-1;
                                }
                                small{
                                    font-size: $fs-sm;
                                    color: white;
                                }
                                h3{
                                    color: white;
                                    font-size: $fs-sm;
                                }
                            }
                        }
                    }
        
                }
            }
        }
    }
}