@import "./var";
@import "./header";
@import "./main-con";
@import "./neuigkeiten";
@import "./whatsHot";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    user-select: none;
    a,i,li{
        cursor: pointer;
    }
   
}
body{
    &::-webkit-scrollbar{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: linear-gradient(to top,black,rgb(216, 216, 216));
        border-radius: 50px;
    }
}